/* COMMON */
body {
    color: white;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header {
    height: 80px;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
}
/* brand */
.ms_brand {
    font-size: 20px;
    font-weight: bold;
}
/* nav */
header nav {
    text-align: right;
}
/* burger */
.burger {
    font-size: 30px;
}
/* main-menu */
.main-menu li {
    padding-left: 25px;
    display: inline-block;
    font-size: 18px;
}

/* MAIN */
section {
    padding: 2rem 0;
}
/* section styles */
.aqua-background {
    background-color: #1abc9c;
}
.dark-text {
    color: #2c3e50;
}
/* custom container */
.custom_container {
    width: 65%;
    margin: 0 auto;
    max-width: 1170px;
}
.ms_star {
    font-size: 30px;
    padding: 12px 0;
}
/* star-1st-2nd-section */
.ms_star::before, .ms_star::after {
    content: "";
    border-radius: 5px;
    margin-bottom: 8px;
    width: 4.3rem;
    height: 4px;
    display: inline-block;
    vertical-align: middle;
}
/* star's line */
.line-white::before, .line-white::after {
    background-color: white;
}
.line-dark::before, .line-dark::after {
    background-color: #2c3e50;
}
/* star-3rd-4th-section */
.ms_star-small::before, .ms_star-small::after {
    width: 2.8rem;
}
/* section-1-banner */
.ms_avatar-img {
    width: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
h1 {
    font-size: 36px;
}
.ms_type-jobs {
    font-size: 18px;
}
/* section-2-portfolio */
#portfolio {
    padding-bottom: 4rem;
}
.ms_img-portfolio img {
    border-radius: 10px;
}
/* section-3-about */
#about {
    padding-bottom: 3rem;
}
/* download-button */
.down-button {
    padding-top: 1.5rem;
}
.ms_green-btn {
    border: 1px solid white;
    color: inherit;
    background-color: #1abc9c
}
/* section-4 contact */
/* input & teaxtarea */
input.form-control::placeholder,
textarea.form-control::placeholder {
    color: #435261;
}
input.form-control, 
textarea.form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 20px;
    padding: 0 0 18px;
    line-height: 0.5;
}
textarea.form-control {
    line-height: 2.5;
    padding-bottom: 3rem;
}
input.form-control:focus, 
textarea.form-control:focus {
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 1px solid #ced4da;
    box-shadow: none;
}
/* button submit */
.ms_green-no-border-bt {
    background-color: #1abc9c;
    border-color: #1abc9c;
    color: white;
    padding: 0.5rem 0.75rem;
    font-size: 1.2rem;
}
/* FOOTER */
#blue-background {
    background-color: #3a546d;
    padding: 4rem 0;
}
/* footer-top */
.ms_ft-top {
    text-align: center;
    font-size: 18px;
}
.ms_ft-top h4 {
    font-size: 18px;
}
.ms_flex_item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.ms_flex_item li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 25px;
    margin: 0 7px;
    font-size: 18px;
}
.ms_link-green {
    color: #1abc9c;
}
/* footer-bottom */
.footer-bottom {
    background-color: #2c3e50;
    height: 100px;
}
.ms_ft-bottom {
    padding: 2rem 0;
    font-size: 13px;
}

/* TABLET */
@media screen and (min-width:768px) {
    /* HEADER */
    /* brand */
    .ms_brand {
        font-size: 25px;
    }
    /* MAIN */
    section {
        padding: 3rem 0;
    }
    /* star-1st-2nd-section */
    .ms_star::before,
    .ms_star::after {
        width: 8rem;
    }
    /* star-3rd-4th-section */
    .ms_star-small::before, .ms_star-small::after {
        width: 5.2rem;
    }
    section h2 {
        font-size: 45px;
    }
    /* section-1-banner */
    h1 {
        font-size: 55px;
    }
    .ms_type-jobs {
        font-size: 21px;
    }
    /* FOOTER */
    /* footer-top */
    .ms_ft-top h4 {
        font-size: 25px;
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    /* MAIN */
    /* star-1st-2nd-section */
    .ms_star::before,
    .ms_star::after {
        width: 10.4rem;
    }
    /* star-3rd-4th-section */
    .ms_star-small::before, .ms_star-small::after {
        width: 9rem;
    }
}
