/* COMMON */
body {
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#aqua-background {
    background-color: #1abc9c;
}

#dark-test {
    color: #2c3e50;
}
/* HEADER */
header {
    height: 80px;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
}
/* nav */
header nav {
    text-align: right;
}
.main-menu li {
    display: inline-block;
}

/* MAIN */
/* section-1 */
.ms_sec1-padd {
    padding: 2rem 0;
}
/* section-2-portfolio */
.ms_img-portfolio {

    /* TEST */
    background-color: lightblue;
    border: 1px solid blue;
}
