/* COMMON */
body {
    color: white;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header {
    height: 80px;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
}
/* brand */
.ms_brand {
    font-size: 20px;
    font-weight: bold;
}
/* nav */
header nav {
    text-align: right;
}
/* burger */
.burger {
    font-size: 30px;
}
/* main-menu */
.main-menu li {
    padding-left: 25px;
    display: inline-block;
    font-size: 18px;
}

/* MAIN */
section {
    padding: 2rem 0;
}
.aqua-background {
    background-color: #1abc9c;
}
.dark-text {
    color: #2c3e50;
}
.custom_container {
    width: 70%;
    margin: 0 auto;
}
.ms_star {
    font-size: 30px;
    padding: 12px 0;
}
/* star-1st-2nd-section */
.ms_star-1st_2nd-section::before, .ms_star-1st_2nd-section::after {
    content: "";
    border-radius: 5px;
    margin-bottom: 7px;
    width: 4.3rem;
    height: 4px;
    display: inline-block;
    vertical-align: middle;
}
/* star's line */
.line-white::before, .line-white::after {
    background-color: white;
}
.line-dark::before, .line-dark::after {
    background-color: #2c3e50;
}
/* star-3rd-4th-section */

/* section-1 */
.ms_avatar-img {
    width: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
h1 {
    font-size: 36px;
}
.ms_type-jobs {
    font-size: 18px;
}
/* section-2-portfolio */
#portfolio {
    padding-bottom: 4rem;
}
.ms_img-portfolio img {
    border-radius: 10px;
}
/* section-3-about */
.about-content{
    
    /* TEST */
    background-color: lightcoral;
    border: 1px solid red;
}
/* download-button */
.down-button {
    padding: 1rem 0;
}

/* FOOTER */
#blue-background {
    background-color: #3a546d;
}
/* footer-top */

/* footer-bottom */
.footer-bottom {
    background-color: #2c3e50;
    height: 80px;
}
.ms_ft-bottom {
    padding: 1rem 0;
}

/* TABLET */
@media screen and (min-width:768px) {
    /* HEADER */
    /* brand */
    .ms_brand {
        font-size: 25px;
    }
    /* MAIN */
    section {
        padding: 3rem 0;
    }
    /* star-1st-2nd-section */
    .ms_star-1st_2nd-section::before,
    .ms_star-1st_2nd-section::after {
        width: 8rem;
    }
    /* section-1 */
    h1 {
        font-size: 55px;
    }
    .ms_type-jobs {
        font-size: 21px;
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    /* MAIN */
    /* star-1st-2nd-section */
    .ms_star-1st_2nd-section::before,
    .ms_star-1st_2nd-section::after {
        width: 10.4rem;
    }
}
